div.wap_menu {
    position: relative;
    background: #ffffff;
    margin: auto;
    width: 100%;
}

div.menu {
    position: relative;
    max-width: 1200px;
    padding: 0px 0px;
    margin: auto;
    height: auto;
    line-height: 1px;
    color: #fff;
    font-family: Montserrat-Light;
}

div.menu ul {
    color: #fff !important;
    list-style: none;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

div.menu ul li {
    display: flex;
    position: relative;
    z-index: 50;
    font-size: 13pt;
    align-items: center;
}

div.menu ul li a {
    color: #000;
    font-size: 15px;
    padding: 10px 14px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;

}

div.menu ul li a:hover, div.menu ul li a.active, div.menu ul li a.active2 {
    color: #ff9b00 !important;
}

div.menu ul li ul {
    position: absolute;
    margin-left: 0px;
    display: none;
    min-width: 200px;
    background: #ffffff;
    color: #fff !important;
    line-height: 1.5;
    bottom: -200px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

div.menu ul li:hover ul li ul {
    position: absolute;
    margin-left: 0px;
    display: none;
    min-width: 200px;
    background: #ffffff;
    color: #fff !important;
    line-height: 1.5;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

div.menu ul li ul li {
    color: #ffffff !important;
    width: 100% !important;
    display: block;
}

div.menu ul li ul li a {
    padding: 10px 10px;
    text-transform: none;
    display: block;
    color: #000 !important;
    border-bottom: 1px solid #eee;
}

div.menu ul li ul li ul {
    left: 100%;
    top: 0px;
    color: #fff !important;
}

.logo-top img {
    height: 130px;
    border-radius: 50%;
}

@media screen and (max-width: 960px) {
    .danhmuc-menu {
        display: none;
    }
}

@media screen and (max-width: 803px) {

}

@media screen and (max-width: 603px) {

}

@media screen and (max-width: 460px) {

}