.content-category
{
    background: #fff;
    margin-bottom: 20px;
    border-radius:5px;
    position: relative;
}
.content-products {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}
.item
{
    width: 31%;
    padding: 20px;
}

.item img {
    max-width: 100%;
    max-height: 240px;
}

.item a
{
    text-decoration:none;
    color: #000;
}
.item .tomtat .sp_name
{
    line-height: 1.5;
    margin-top: 10px;
    min-height: 40px;
    text-transform: uppercase;
}

.item .tomtat .mota {
    text-align: center;
}

.item .price-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    align-items: flex-end;
}

.item .price-product .price-items {
    width: 48%;
    display: block;
    text-align: center;
    padding: 10px 10px;
}

.item .price-product .price {
    background: #eeeeee;
    color: #ff9b00;
    font-size: 13px;
    font-weight: bold;
}

.item .price-product .buy-now {
    background: #ff9b00;
    color: #000;
    font-size: 13px;
    font-weight: bold;
}

.tab-products {
    width: 100%;
    text-align: center;
}

.tab-products ul {
    list-style: none;
}

.tab-products li {
    display: inline-block;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.tab-products .actived, .tab-products li:hover {
    border-bottom: 2px solid #ff9b00 ;
}

.hide {
    display: none;
}

.show {
    display: block;
}

@media screen and (max-width: 960px) {
    
    
}
@media screen and (max-width: 803px) {
    
}
@media screen and (max-width: 603px) {
    div.tieude_giua a
    {
        display: none!important;
    }
    .page-top
    {
        display:none;
    }
   .item
   {
        width:50%;
        border-right:none;
        border-bottom: 1px solid #ccc;
   }
   .item_custom
    {
        width: 48%;
        margin: 10px 1%;
        border: 1px solid #ccc;
    }
}
@media screen and (max-width: 460px) {
   
   .item
   {
        width:100%;
        border-right:none;
        border-bottom: 1px solid #ccc;
   }
   .item:last-child
   {
        border-bottom:none;
   }
   .item_custom
    {
        width: 98%;
        margin: 10px 1%;
        border: 1px solid #ccc;
    }
}